
.container{
    background-color: blueviolet;
    
}
.poke{
   
    margin-top: 500px;
    margin-bottom: 10%;
    width: 250px;
    height: 250px;
    
   /* background-image: url("./assets/pokeImgs/pokemon-5.svg"); */
}
.bton{
    /* background-image: url("./assets/pokeImgs/pokemon-5.svg"); */
    /* content: url("./assets/pokeImgs/pokemon-5.svg"); */
    margin: 5%;
    margin-bottom: 10%;
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    background-position:center;
    background-color:transparent;
    border: 0;
    background-image:url(./assets/pokeImgs/pokemon6.svg);
   /* content: url(./assets/pokeImgs/pokemon-6.svg); */
} 
.bton:hover{
    /* background-image: url("./assets/pokeImgs/pokemon-5.svg"); */
    /* content: url("./assets/pokeImgs/pokemon-5.svg"); */
    margin: 5%;
    margin-bottom: 10%;
    width: 200px;
    height: 200px;
    background-size: 200px 200px;
    background-position:center;
    background-color:transparent;
    border: 0;
    background-image:url(./assets/pokeImgs/pikachumeme.svg);
   /* content: url(./assets/pokeImgs/pokemon-6.svg); */
} 


/* .btn{
    margin: 5%;
    margin-bottom: 10%;
    width: 200px;
    height: 200px;
} */